<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BackOffice Tienda Peluches</title>


    <!--pegar los estilos de adminlte-->
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
           folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/dist/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/bower_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-purple sidebar-mini sidebar-collapse">
    <div class="wrapper">
        <!--creacion de la cabecera de la pagina web-->
        <header class="main-header">
            <!--logotipo-->
            <a href="inicio" class="logo">
                <!--logo mini-->
                <span class="logo-mini">
                    <img src="~/img/plantilla/icono-blanco.png" class="img-responsive" style="padding: 10px;">
                </span>
                <!--logo normal-->
                <span class="logo-lg">
                    <img src="~/img/plantilla/logo-blanco-lineal.png" class="img-responsive"
                         style="padding: 10px 0px;height:55px;">
                </span>
            </a>
            <!--inicio de la barra de navegacion-->
            <nav class="navbar navbar-static-top" role="navigation">
                <!--boton de navegacion-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">mensaje prueba</span>
                </a>

                <!--creacion perfil de usuario-->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">Amed Torrejon</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                                    <p>
                                        Amed Torrejon - Operaciones
                                        <small>Miembro desde noviembre de 2022</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Seguidores</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Ventas</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Amigos</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Cerrar Sesión</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--final de la barra de navegacion-->
            @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Peluches.BackOffice.Presentacion</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Proveedores" asp-action="Index">Proveedores</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Cargos" asp-action="Index">Cargos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Comprobantes" asp-action="Index">Comprobantes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Marcas" asp-action="Index">Marcas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Modelos" asp-action="Index">Modelos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Pedidos" asp-action="Index">Pedidos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>*@
        </header>

        <!--inicio del menu de opciones-->
        <aside class="main-sidebar">
            <section class="sidebar">
                <!--Panel de usuario de la barra lateral -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Amed Torrejon</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> En línea</a>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="active">
                        <a asp-controller="Home" asp-action="Index">
                            <i class="fa fa-area-chart" aria-hidden="true"></i>
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Productos" asp-action="Index">
                            <i class="fa fa-cubes" aria-hidden="true"></i>
                            <span>Productos</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Clientes" asp-action="Index">
                            <i class="fa fa-users"></i>
                            <span>Clientes</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Proveedores" asp-action="Index">
                            <i class="fa fa-ship" aria-hidden="true"></i>
                            <span>Proveedores</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Modelos" asp-action="Index">
                            <i class="fa fa-th" aria-hidden="true"></i>
                            <span>Modelos</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Marcas" asp-action="Index">
                            <i class="fa fa-first-order" aria-hidden="true"></i>
                            <span>Marcas</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Usuarios" asp-action="Index">
                            <i class="fa fa-user"></i>
                            <span>Usuarios</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
        <!--fin del menu de opciones-->

        <!--cuerpo prueba-->
        <div class="content-wrapper">
            @RenderBody()
        </div>

        <!--inicio del footer-->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2023 <a href="https://adminlte.io">BackOffice - Peluches el Chino</a>.</strong> All rights
            reserved.
        </footer>
        <!--fin del footer-->
        @*<footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2023 - Peluches.BackOffice.Presentacion - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>*@
    </div>


    <!--pegar los javascript de adminlte-->
    <!-- jQuery 3 -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="~/bower_components/raphael/raphael.min.js"></script>
    <script src="~/bower_components/morris.js/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/bower_components/moment/min/moment.min.js"></script>
    <script src="~/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <script>
        $(document).ready(function () { $('.sidebar-menu').tree() })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
