@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutBackOffice";
}

<section class="content-header">
    <div class="text-center">
        <h1 class="display-4">Aplicacion Web de Gestión Administrativa</h1>
        <p>Trabajado para <a href="http://www.idat.edu.pe" target="_blank"> IDAT </a> desarrollado con ASP.NET Core.</p>
    </div>
</section>

<section class="content">

</section>
