@model Peluches.BackOffice.Presentacion.Models.Pedido

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select asp-for="IdCliente" class ="form-control" asp-items="ViewBag.IdCliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdEmpleado" class="control-label"></label>
                <select asp-for="IdEmpleado" class ="form-control" asp-items="ViewBag.IdEmpleado"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaPedido" class="control-label"></label>
                <input asp-for="FechaPedido" class="form-control" />
                <span asp-validation-for="FechaPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaMaxEntrega" class="control-label"></label>
                <input asp-for="FechaMaxEntrega" class="form-control" />
                <span asp-validation-for="FechaMaxEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activo.HasValue" class="form-check-label">Activo</label>
                <input asp-for="Activo.HasValue" type="checkbox" class="form-check-input" style="margin-left:10px" />
                <span asp-validation-for="Activo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

