@model Peluches.BackOffice.Presentacion.Models.Producto

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutBackOffice";
}

<section class="content-header">
    <h1>
        Crear
        <small>Producto</small>
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Producto</h3>
                </div>
                <form asp-action="Create" role="form">
                    <div class="box-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="NombreProducto" class="control-label"></label>
                            <input asp-for="NombreProducto" class="form-control" />
                            <span asp-validation-for="NombreProducto" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Descripcion" class="control-label"></label>
                            <textarea asp-for="Descripcion" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PrecioVenta" class="control-label"></label>
                            <input asp-for="PrecioVenta" class="form-control" />
                            <span asp-validation-for="PrecioVenta" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdMarca" class="control-label"></label>
                            <select asp-for="IdMarca" class="form-control" asp-items="ViewBag.IdMarca"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdModelo" class="control-label"></label>
                            <select asp-for="IdModelo" class="form-control" asp-items="ViewBag.IdModelo"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdProveedor" class="control-label"></label>
                            <select asp-for="IdProveedor" class="form-control" asp-items="ViewBag.IdProveedor"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Stock" class="control-label"></label>
                            <input asp-for="Stock" class="form-control" />
                            <span asp-validation-for="Stock" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Activo" class="form-check-label"></label>
                            <input asp-for="Activo" type="checkbox" class="form-check-input" style="margin-left:10px" />
                            <span asp-validation-for="Activo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div>
        <a asp-action="Index">Volver al Listado</a>
    </div>
</section>



